.button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.bigButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
    width: 400px;
    border-radius: 15px;
    background-color: #c1c1c14f;
    font-size: 25px;
    font-weight: 800;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.normalButton {
    height: 48px;
    border-radius: 25px;
    border: 1px solid #fff;
    background: #000;
    font-size: 20px;
    font-weight: 700;
}

.orange {
    background-color: #f95641;
}

.textColorGray {
    color: rgba(189, 189, 189, 0.73);
}
