.button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.textButton {
    opacity: 1;
    transition: opacity 0.2s linear;

    &:hover {
        opacity: 0.7;
    }
}

.bigButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    border-radius: 15px;
    background-color: #c1c1c14f;
    font-size: 25px;
    font-weight: 800;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: background-color 0.2s linear;

    &:hover {
        background: rgba(255, 255, 255, 0.39);
    }
}

.normalButton {
    height: 48px;
    border-radius: 25px;
    border: 1px solid #fff;
    background-color: #000;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: #353232;
    }
}

.orange {
    background-color: #f95641;
    transition: background-color 0.2s linear;

    &:hover {
        background-color: #df5b4a;
    }
}

.textColorGray {
    color: rgba(189, 189, 189, 0.73);
}

@media screen and (max-width: 1000px) {
    .bigButton {
        height: 20px;
        font-size: 10px;
    }

    .normalButton {
        height: 25px;
        font-size: 10px;
    }

    .button {
        font-size: 10px;
    }
}
