.carousel-item {
    cursor: pointer;
}

img {
    width: 100%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.horizontal {
    max-width: 200px;
    aspect-ratio: 9/16;
}

.vertical {
    max-width: 400px;
    aspect-ratio: 16/9;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 1920px;
    min-width: 325px;
}

.iframe {
    width: 100%;
}

.tiktok-container {
    display: flex;
}
