@import '../../theme/mixins.scss';

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contactInfo {
        @include textInfo;
    }

    .contactMessage {
        @include textMessage;
    }

    .contactWrapper {
        display: flex;
    }

    .leftContainer {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: #343434;
        height: 560px;

        .contactText {
            color: #fff;
            font-weight: 700;
            font-size: 20px;
        }
    }

    .rightContainer {
        display: flex;
        flex-wrap: wrap;
        background-color: #010101;
        padding: 40px 56px;
        max-width: 536px;
        width: 100%;
        justify-content: space-between;

        .infoWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        .firstInfo {
            width: 140px;

            img {
                width: auto;
                height: 100px;
            }
        }

        .secondInfo {
            width: 242px;

            img {
                width: auto;
                height: 100px;
            }
        }

        .contactTextInfo,
        .contactTextMessage {
            color: #fff;
            margin-top: 16px;
            font-family: 'Eina';
            font-size: 14px;
            font-weight: 400;
        }

        .contactTextMessage {
            color: #a4a4a4;
            margin-top: 8px;
        }

        .buttonWrapper {
            display: flex;
            align-self: flex-end;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .contact {
        .contactWrapper {
            flex-direction: column;
        }

        .leftContainer {
            align-items: center;
            height: auto;
        }

        .rightContainer {
            padding: 30px 50px;
            min-height: 360px;

            .contactTextInfo,
            .contactTextMessage {
                font-size: 10px;
            }

            .firstInfo {
                width: 100px;

                img {
                    width: auto;
                    height: 50px;
                }
            }

            .secondInfo {
                width: 174px;

                img {
                    width: auto;
                    height: 50px;
                }
            }

            .buttonWrapper {
                display: flex;
                justify-content: center;
                width: 100%;

                button {
                    width: 234px;
                }
            }
        }
    }
}
