.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerInfo {
        color: #fff;
        font-family: 'Eina';
        font-weight: 400;
        font-size: 80px;
        margin-top: 55px;
    }

    .headerMessage {
        color: #b4b4b4;
        font-size: 30px;
        max-width: 764px;
        width: 100%;
        text-align: center;
        margin-top: 32px;
        padding: 32px 32px 0 32px;
    }

    .photoHeaderWrapper {
        position: relative;
        margin: 0 80px;
        margin-top: 32px;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            box-shadow: inset 0px -20px 30px 10px #191919;
        }
    }

    .photoHeader {
        max-width: 928px;
        width: 100%;
        height: auto;
    }

    .socialPhotos {
        position: absolute;
        top: -100px;
        right: -80px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 181px;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .headerInfo {
            font-size: 40px;
        }

        .headerMessage {
            font-size: 16px;
        }

        .socialPhotos {
            top: -50px;
            right: -50px;
            width: 90px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        .socialPhotos {
            top: -25px;
            right: -25px;
            width: 50px;
        }
    }
}
